JWT_SECRET=your_jwt_secret_here
MONGODB_URI=your_mongodb_connection_string
PAYPAL_CLIENT_ID=sb
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLOUDINARY_URL=your_CLOUDINARY_URL
GOOGLE_API_KEY=your_GOOGLE_API_KEY
BREVO_API_KEY=your_brevo_api_key
MAIL_FROM_EMAIL=UrbanBazaar
MAIL_FROM_NAME=UrbanBazaar
BASE_URL=http://localhost:3000