.navbar-brand {
    font-weight: bold;
    letter-spacing: .3px;
  }
  .side-navbar {
    width: 240px;
    height: 100%;
    position: absolute;
    left: -300px;
    background-color: #100901;
    transition: 0.5s;
  }
  .active-cont {
    margin-left: 240px;
  }
  .active-nav {
    left: 0;
  }
  